*{
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    
    
}
h1{
    color: white;
    background-color: gray;
    text-align: center;
    
}
img{
    width: 300px;
    height: 300px;
    
}
.ingredients{
    font-size: 25px;
}
.descrition{
text-align: center;
}
 .main-table{
    list-style: none;
 }